// Borja-pics for thumbnail images

.row.img-row
  figure.columns.four
    img(src="/assets/img/martin_flag.jpg")
    figcaption <i>American Me</i>
  figure.columns.four
    img(src="/assets/img/loading_only.jpg")
    figcaption <i>Get Loading</i>
  figure.columns.four
    img(src="/assets/img/power_wall.jpg")
    figcaption <i>Power Up!</i>

.row.img-row
  figure.columns.four
    img(src="/assets/img/rolodex_fx.jpg")
    figcaption <i>Office Work</i>
  figure.columns.four
    img(src="/assets/img/fender-guitar.jpg")
    figcaption <i>Rock On!</i>
  figure.columns.four
    img(src="/assets/img/girl-on-beach.jpg")
    figcaption <i>Meditative</i>
