.embed-blog.row
	h1 Additional Escapades
	p.blog-lead Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
	
	.columns.six.blog-1
		h5 Photo Blog
		a.wordpress-timeline(href='https://dirtylensphotography.wordpress.com', lang='en', data-theme='dark', data-link-color='#2980b9', width='300', height='500') Dirty Lens Photograpy
			script(type='text/javascript').
				(function(d){var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');p.type = 'text/javascript';p.async = true;p.src = '//widgets.wp.com/platform.js';f.parentNode.insertBefore(p,f);}(document));

	.columns.six.blog-2
		h5 Writing Blog
		a.wordpress-timeline(href='https://iwriteatnite.wordpress.com', lang='en', data-theme='dark', data-link-color='#2980b9', width='300', height='500') I Write@Night
			script(type='text/javascript').
				(function(d){var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');p.type = 'text/javascript';p.async = true;p.src = '//widgets.wp.com/platform.js';f.parentNode.insertBefore(p,f);}(document));
