footer
  
  .row.footer-stuff
    .columns.three
      strong FIND ME HERE
      ul
        li: a(href="") Twitter
        li: a(href="") Linkedin
        li: a(href="") Behance
        li: a(href="") Wordpress

    //.columns.three
    //  strong Other Works
    //  ul
    //    li: a(href="") BC website
    //    li: a(href="") BCF Foundation
    //    li: a(href="") Crewe Studio
    //    li: a(href="") Studiorats

    .columns.six
      p <strong>Get your red hot news here</strong> Good to be kind. Now please drop me a line.

      form.row
        .columns.eight
          input.u-full-width(type="email" placeholder="your email")
        .columns.four
          input.button-primary(type="submit")
