// Graphic-arts for blog posts, etc.

.graphic-arts.row

  .post.columns.four.post-1
    h5 Concepts
    img(src="#")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    p: a.button(href="#") Read More


  .post.columns.four.post-2
    h5 Logos
    img(src="#")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    p: a.button(href="#") Read More


  .post.columns.four.post-3
    h5 Mailers
    img(src="#")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    p: a.button(href="#") Read More
