// Web-dev for public viewing, etc.

.web-dev.row

	.post.columns.four.post-1
		h5 UI Design
		img(src="#")
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		p: a.button(href="#") Read More


	.post.columns.four.post-2
		h5 CMS
		img(src="#")
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		p: a.button(href="#") Read More


	.post.columns.four.post-3
		h5 Single Page
		img(src="#")
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		p: a.button(href="#") Read More


//.post.columns.four.post-1
	h5 UI Design
	|		
	//.app-wrap
		iframe(src="https://marvelapp.com/c4a8fd?emb=1" allowTransparency="true" frameborder="0")
	|		
	p UI design for those wanting something to do.
	p: a.button(href="https://dirtylensphotography.wordpress.co") Read More
